:host {
  height: 100%;
  display: block;
}

.container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.left {
  flex: 3;
  min-width: 0;
}

.right {
  flex: 2;
  max-width: 400px;
  position: sticky;
  top: 2rem;
}
