:host {
  height: 100%;
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.left {
  flex: 3;
  border: 1px solid black;
}

.right {
  display: flex;
  flex: 1;
  justify-content: center;
}

.demo-table {
  width: 100%;
  height: 100%;
}
