<div class="container">
  <div class="left" *ngIf="currentPage$ | async as cPage">
    <mat-paginator
      #paginator
      [length]="MAX_PAGE * PAGE_SIZE"
      [pageSize]="20"
      [pageSizeOptions]="[]"
      [hidePageSize]="true"
      [pageIndex]="cPage - 1"
      (page)="handlePageEvent($event)"></mat-paginator>
    <table mat-table [dataSource]="(movies$ | async) || []" class="mat-elevation-z8 demo-table">
      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 + (cPage - 1) * 20 }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element" [routerLink]="[element.id]">
          <span>{{ element.title }}</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="right"><router-outlet /></div>
</div>
